<!-- HTML Structure - Edit the code below -->

<header>
    Header here
</header>

<nav>
    <ul>
        <li><a href="http://google.com">Google</a></li>
        <li><a href="http://netflix.com">Netflix</a></li>
        <li><a href="http://dropbox.com">Dropbox</a></li>
    </ul>
</nav>

<section id="section1">
    <article>
        <h2>Article title</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec pellentesque magna. Sed ac diam vel quam commodo commodo. Nullam at tortor nisi. Proin dui nisl, eleifend cursus posuere et, pellentesque sed est.
        </p>
    </article>
    <article>
        <h2>Article title</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec pellentesque magna. Sed ac diam vel quam commodo commodo. Nullam at tortor nisi. Proin dui nisl, eleifend cursus posuere et, pellentesque sed est.
        </p>
    </article>
</section>

<footer>
    Footer here
</footer>