<!-- Tables - Edit the code below -->

<table>
    <caption>Title</caption>

    <thead>
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>
            <th>Column 3</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <th>Row 1</th>
            <td>Element</td>
            <td>Element</td>
        </tr>
        <tr>
            <th>Row 2</th>
            <td>Element</td>
            <td>Element</td>
        </tr>
        <tr>
            <th>Row 3</th>
            <td>Element</td>
            <td>Element</td>
        </tr>
    </tbody>

    <tfoot>
        <tr>
            <td>Foot element</td>
            <td>Foot element</td>
            <td>Foot element</td>
        </tr>
    </tfoot>
</table>