<!-- Forms - Edit the code below -->

<form action="#" method="post">
    <fieldset>
        <legend>Personal data:</legend>
        <div class="field">
            <label for="name">Name: </label><input id="name" type="text" placeholder="Your name">
        </div>

        <div class="field">
            <label for="password">Password: </label><input id="password" type="password" placeholder="Your password">
        </div>

        <div class="field">
            <label for="country">Country: </label>
            <select id="country">
                <option>Belgium</option>
                <option>France</option>
            </select>
        </div>
    </fieldset>

    <fieldset>
        <legend>Comments:</legend>
        <textarea></textarea>
    </fieldset>
    <input type="submit">
</form>