<!-- Headings and paragraphs - Edit the code below -->

<h1>Headline</h1>

<h2>Title</h2>

<h3>Sub-title</h3>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec pellentesque magna. Sed ac diam vel quam commodo commodo. Nullam at tortor nisi. Proin dui nisl, eleifend cursus posuere et, pellentesque sed est.Sed in blandit quam. Pellentesque ut sapien porttitor, gravida tortor nec, placerat tortor.
</p>

<h4>Section 1</h4>

<p>
    Nunc consequat, metus eget congue pulvinar, risus nisi scelerisque dolor, vel ultricies sapien augue quis metus.</p>

<h4>Section 2</h4>

<p>Pellentesque et enim velit. Vivamus vel sapien vehicula, rhoncus est a, cursus dui. Vestibulum eget nisl quam.</p>
<p>Nullam facilisis massa vel tortor fringilla, et sollicitudin lorem gravida. In vel condimentum libero. Curabitur pharetra elementum ligula, quis placerat neque dignissim vel.</p>
